<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AgendaVeterinaria1</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AgendaVeterinaria1.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><img src="@Url.Content("~/Imagenes/logopedorro.jpg")"></a>
        <ul id="zona-login" class="right hide-on-med-and-down">            
            <li><a href="#" class="waves-effect waves-light btn"><i class="material-icons right">assignment_return</i>Ingresar</a></li>
            <li><a href="#">Registrarme</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Menu</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <main>
        @RenderBody()
        <hr/>
        <footer class="page-footer teal">
        <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Proyecto Vetagen</h5>
                <p class="grey-text text-lighten-4">Buscamos simplificar la atención veterinaria, para tod@s nuestr@s usuari@s, pero en especial, para tu mascota.</p>
            </div>
            
            <div class="col l3 s12">
                <h5 class="white-text">Contactanos</h5>
                <ul>
                    <li><a class="white-text" href="#!">Telefono - 4444-5550</a></li> 
                    <li></li>
                    <li><a class="white-text" href="#!">Email - contacto@vetagen.com</a></li>            
                 </ul>
            </div>
        </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            <p>&copy; @DateTime.Now.Year -  Una app pilotodo de Lucia Haunau & Sofia Schulze</p>
            </div>
        </div>
    </footer>
    </main>
    
    
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/js/materialize.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>


</html>


@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AgendaVeterinaria1</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - AgendaVeterinaria1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>*@