@model AgendaVeterinaria1.Models.Cliente

@{
    ViewData["Title"] = "Editar Cliente";
}


<h4>Editar mis datos</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDCliente" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DNI" class="control-label"></label>
                <input asp-for="DNI" class="form-control" />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasenia" class="control-label"></label>
                <input asp-for="Contrasenia" class="form-control" />
                <span asp-validation-for="Contrasenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-for="Mascotas" asp-action="Index" asp-controller="Mascotas" asp-route-id="@Model.IDCliente" class="btn  waves-light  orange lighten-1"><i class="fa fa-paw" aria-hidden="true"></i> Agregar Mascotas</a>
            </div>
            <br />
            <input type="submit" value="Guardar" class="btn btn-primary" />
            <br />
            <br />
            <a asp-action="Index" class="btn btn-primary"><i class="fa fa-arrow-left">&nbsp;</i>Volver</a>



        </form>
    </div>
</div>


@section Scripts {
    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
        }
