@model AgendaVeterinaria1.Models.Profesional

@{
    ViewData["Title"] = "Editar";
     List<Especialidad> especialidades = ViewBag.Especialidades;
}

<h1>Editar</h1>

<h4>Profesional</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DNI" class="control-label"></label>
                <input asp-for="DNI" class="form-control" />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoProfesional" class="control-label"></label>
                <select asp-for="TipoProfesional" class="form-control">
                <option value="Veterinaria">Veterinaria</option>
                <option value="Peluqueria">Peluqueria</option>
                </select>
                <span asp-validation-for="TipoProfesional" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasenia" class="control-label"></label>
                <input asp-for="Contrasenia" class="form-control" type="password"/>
                <span asp-validation-for="Contrasenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especialidades" class="control-label"></label>
                <select asp-for="Especialidades" class="form-control" style="height:250px" multiple>
                @foreach(var item in especialidades){
                    <option value="@item.IDEspecialidad"> @item.Descripcion</option>
                }
                </select>
                <span asp-validation-for="Especialidades" class="text-danger"></span>
            </div>

            <div class="form-group">
                <br/>
                <input type="button" value="Ir a la Agenda" class="btn btn-info" asp-action="GoToAgenda"/>
            </div>
            
            <div class="form-group">
                <br/>
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br/>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
