@model AgendaVeterinaria1.Models.Mascota

@{
    ViewData["Title"] = "Agregar Mascota";
    int idCliente = ViewBag.IDCliente;
}

<h4>@ViewBag.Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMascota" class="control-label">Tipo de Mascota</label>
                <input asp-for="TipoMascota" class="form-control" />
                <span asp-validation-for="TipoMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalle" class="control-label"></label>
                <input asp-for="Detalle" class="form-control" />
                <span asp-validation-for="Detalle" class="text-danger"></span>
            </div>
            <input hidden id="IdCliente" name="IdCliente" value="@idCliente"/>
 <br />
          <input type="submit" value="Guardar" class="btn btn-primary" />
            <br />
            <br />
            <a asp-action="Index" class="btn btn-primary"><i class="fa fa-arrow-left">&nbsp;</i>Volver</a>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
