@model AgendaVeterinaria1.Models.Turno

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Turno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDTurno" />
            <div class="form-group">
                <label asp-for="TipoDeTurno" class="control-label"></label>
                <input asp-for="TipoDeTurno" class="form-control" />
                <span asp-validation-for="TipoDeTurno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalle" class="control-label"></label>
                <input asp-for="Detalle" class="form-control" />
                <span asp-validation-for="Detalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horario" class="control-label"></label>
                <input asp-for="Horario" class="form-control" />
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDCliente" class="control-label"></label>
                <select asp-for="IDCliente" class="form-control" asp-items="ViewBag.IDCliente"></select>
                <span asp-validation-for="IDCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDProfesional" class="control-label"></label>
                <select asp-for="IDProfesional" class="form-control" asp-items="ViewBag.IDProfesional"></select>
                <span asp-validation-for="IDProfesional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
