@{
    ViewData["Title"] = "HOME";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
   
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    ACA VAN LOS RECUADROS CON LAS IMAGENES QUE TE MANDAN A PELUQUERIA O A PEDIR TURNOS DE VETERINARIA

    en _layout se pueden cambiar los colores de fondo etxc

    SE SEPARARIAN EN COLUMNITAS




</div>
